.u-section-1 .u-sheet-1 {
  min-height: 2581px;
}

.u-section-1 .u-text-1 {
  font-size: 2.75rem;
  margin: 58px 56px 0;
}

.u-section-1 .u-line-1 {
  transform-origin: right center 0px;
  height: 2px;
  margin: 6px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 312px;
  height: 223px;
  margin: 64px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 312px;
  height: 223px;
  margin: -223px auto 0;
}

.u-section-1 .u-image-3 {
  width: 312px;
  height: 223px;
  margin: -223px 0 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 28px 762px 0 -66px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.5rem;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-size: 1.5rem;
  margin: -36px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  font-size: 1.5rem;
  margin: -38px 62px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 8px auto 0 66px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: -46px auto 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: -46px 66px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 312px;
  height: 223px;
  margin: 40px auto 0 0;
}

.u-section-1 .u-image-5 {
  width: 312px;
  height: 223px;
  margin: -223px auto 0;
}

.u-section-1 .u-image-6 {
  width: 312px;
  height: 223px;
  margin: -223px 0 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 26px 776px 0 -80px;
}

.u-section-1 .u-btn-7 {
  font-size: 1.5rem;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  font-size: 1.5rem;
  margin: -33px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-9 {
  font-size: 1.5rem;
  margin: -38px auto 0 913px;
  padding: 0;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 6px auto 0 67px;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: -46px auto 0;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: -46px 66px 0 auto;
}

.u-section-1 .u-image-7 {
  width: 312px;
  height: 223px;
  margin: 64px auto 0 0;
}

.u-section-1 .u-image-8 {
  width: 312px;
  height: 223px;
  margin: -223px auto 0;
}

.u-section-1 .u-image-9 {
  width: 312px;
  height: 223px;
  margin: -223px 0 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  margin: 27px 752px 0 -55px;
}

.u-section-1 .u-btn-13 {
  font-size: 1.5rem;
  padding: 0;
}

.u-section-1 .u-btn-14 {
  font-size: 1.5rem;
  margin: -33px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-15 {
  font-size: 1.5rem;
  margin: -38px -14px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-16 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 7px auto 0 67px;
}

.u-section-1 .u-btn-17 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: -41px auto 0;
}

.u-section-1 .u-btn-18 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: -46px 66px 0 auto;
}

.u-section-1 .u-image-10 {
  width: 312px;
  height: 223px;
  margin: 58px auto 0 0;
}

.u-section-1 .u-image-11 {
  width: 312px;
  height: 223px;
  margin: -223px auto 0;
}

.u-section-1 .u-image-12 {
  width: 312px;
  height: 223px;
  margin: -223px 0 0 auto;
}

.u-section-1 .u-btn-19 {
  font-size: 1.5rem;
  margin: 27px auto 0 -48px;
  padding: 0;
}

.u-section-1 .u-btn-20 {
  font-size: 1.5rem;
  margin: -38px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-21 {
  font-size: 1.5rem;
  margin: -38px -41px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-22 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 11px auto 0 66px;
}

.u-section-1 .u-btn-23 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: -39px auto 0;
}

.u-section-1 .u-btn-24 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: -53px 66px 0 auto;
}

.u-section-1 .u-image-13 {
  width: 312px;
  height: 223px;
  margin: 47px auto 0 0;
}

.u-section-1 .u-image-14 {
  width: 312px;
  height: 223px;
  margin: -223px auto 0;
}

.u-section-1 .u-image-15 {
  width: 312px;
  height: 223px;
  margin: -223px 0 0 auto;
}

.u-section-1 .u-btn-25 {
  font-size: 1.5rem;
  margin: 27px auto 0 14px;
  padding: 0;
}

.u-section-1 .u-btn-26 {
  font-size: 1.5rem;
  margin: -38px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-27 {
  font-size: 1.5rem;
  margin: -38px 44px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-28 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 11px auto 0 66px;
}

.u-section-1 .u-btn-29 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: -46px auto 0;
}

.u-section-1 .u-btn-30 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: -46px 66px 0 auto;
}

.u-section-1 .u-image-16 {
  width: 312px;
  height: 223px;
  margin: 46px auto 0;
}

.u-section-1 .u-image-17 {
  width: 312px;
  height: 223px;
  margin: -223px 0 0 auto;
}

.u-section-1 .u-image-18 {
  width: 312px;
  height: 223px;
  margin: -223px auto 0 0;
}

.u-section-1 .u-btn-31 {
  font-size: 1.5rem;
  margin: 27px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-32 {
  font-size: 1.5rem;
  margin: -38px -10px 0 811px;
  padding: 0;
}

.u-section-1 .u-btn-33 {
  font-size: 1.5rem;
  margin: -38px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-34 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 8px 465px 0 auto;
}

.u-section-1 .u-btn-35 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: -43px 66px 0 auto;
}

.u-section-1 .u-btn-36 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: -46px auto 0 66px;
}

.u-section-1 .u-line-2 {
  transform-origin: right center 0px;
  height: 2px;
  margin: 24px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    margin-top: 101px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    margin-top: -40px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 662px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 676px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 713px;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-12 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 605px;
  }

  .u-section-1 .u-btn-15 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-16 {
    margin-left: -1px;
  }

  .u-section-1 .u-btn-18 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-19 {
    margin-left: -1px;
  }

  .u-section-1 .u-btn-21 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-22 {
    margin-left: -1px;
  }

  .u-section-1 .u-btn-24 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-25 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-27 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-28 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-30 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-31 {
    margin-top: -36px;
  }

  .u-section-1 .u-btn-32 {
    margin-top: 19px;
    margin-left: 711px;
  }

  .u-section-1 .u-btn-34 {
    margin-top: -38px;
    margin-right: 265px;
  }

  .u-section-1 .u-btn-35 {
    margin-top: 12px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-36 {
    margin-left: 0;
  }

  .u-section-1 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    margin-top: 134px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    margin-top: -73px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 552px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 566px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 493px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 495px;
  }

  .u-section-1 .u-btn-32 {
    margin-left: 601px;
  }

  .u-section-1 .u-btn-34 {
    margin-right: 45px;
  }

  .u-section-1 .u-line-2 {
    margin-bottom: 39px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-1 {
    margin-top: 232px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    margin-top: -171px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 462px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 476px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 313px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 405px;
  }

  .u-section-1 .u-btn-14 {
    margin-left: -1px;
  }

  .u-section-1 .u-btn-17 {
    margin-left: -1px;
  }

  .u-section-1 .u-btn-20 {
    margin-left: -1px;
  }

  .u-section-1 .u-btn-23 {
    margin-left: -1px;
  }

  .u-section-1 .u-btn-32 {
    margin-left: 511px;
  }

  .u-section-1 .u-btn-34 {
    margin-right: 0;
  }

  .u-section-1 .u-line-2 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-line-1 {
    margin-top: 603px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    margin-top: -542px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 362px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-right: 376px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 113px;
  }

  .u-section-1 .u-image-7 {
    margin-left: -3px;
  }

  .u-section-1 .u-image-8 {
    margin-left: -3px;
  }

  .u-section-1 .u-image-9 {
    margin-left: -3px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
    margin-right: 335px;
    margin-left: -38px;
  }

  .u-section-1 .u-btn-14 {
    margin-left: -31px;
  }

  .u-section-1 .u-btn-15 {
    margin-left: -31px;
  }

  .u-section-1 .u-btn-16 {
    margin-left: -31px;
  }

  .u-section-1 .u-btn-17 {
    margin-left: -31px;
  }

  .u-section-1 .u-btn-18 {
    margin-left: -7px;
  }

  .u-section-1 .u-image-10 {
    margin-left: -3px;
  }

  .u-section-1 .u-image-11 {
    margin-left: -3px;
  }

  .u-section-1 .u-image-12 {
    margin-left: -3px;
  }

  .u-section-1 .u-btn-19 {
    margin-left: -31px;
  }

  .u-section-1 .u-btn-20 {
    margin-left: -31px;
  }

  .u-section-1 .u-btn-21 {
    margin-left: -31px;
  }

  .u-section-1 .u-btn-22 {
    margin-left: -31px;
  }

  .u-section-1 .u-btn-23 {
    margin-left: -31px;
  }

  .u-section-1 .u-btn-24 {
    margin-left: -11px;
  }

  .u-section-1 .u-btn-32 {
    margin-left: 411px;
  }
}