.u-section-1 .u-sheet-1 {
  min-height: 846px;
}

.u-section-1 .u-text-1 {
  width: 525px;
  margin: 60px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -9px;
  margin-bottom: 28px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 715px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 239px;
  height: 239px;
  background-image: url("images/photo-1438761681033-6461ffad8d80.jpg");
  background-position: 50% 50%;
  margin: 208px auto 0 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 24px;
  min-height: 16px;
  width: 92px;
  min-width: 68px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 715px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 6px;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  margin: 38px 30px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -43px 30px 0 auto;
}

.u-section-1 .u-icon-4 {
  height: 30px;
  width: 30px;
  margin: 358px auto 0 103px;
}

.u-section-1 .u-icon-5 {
  height: 35px;
  width: 35px;
  margin: 61px auto 0 340px;
}

.u-section-1 .u-text-3 {
  line-height: 2.2;
  font-size: 1.25rem;
  margin: -474px 30px 0;
}

.u-section-1 .u-group-1 {
  width: 297px;
  min-height: 38px;
  margin: -437px auto 0 30px;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 30px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 0 103px 0 3px;
}

.u-section-1 .u-icon-6 {
  height: 30px;
  width: 30px;
  margin: -94px auto 0 120px;
}

.u-section-1 .u-icon-7 {
  height: 35px;
  width: 35px;
  margin: 204px auto 0 340px;
}

.u-section-1 .u-icon-8 {
  height: 35px;
  width: 35px;
  margin: -213px auto 0 340px;
}

.u-section-1 .u-icon-9 {
  height: 35px;
  width: 35px;
  margin: 223px auto 0 340px;
}

.u-section-1 .u-icon-10 {
  height: 30px;
  width: 30px;
  margin: 11px auto 0 265px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 843px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 590px;
  }

  .u-section-1 .u-image-1 {
    width: 191px;
    height: 191px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 590px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 280px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 280px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 280px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 280px;
  }

  .u-section-1 .u-icon-10 {
    margin-left: 219px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 452px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 132px;
    height: 132px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 214px;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 214px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 214px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 214px;
  }

  .u-section-1 .u-icon-10 {
    margin-left: 168px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1126px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1271px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 219px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 219px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 219px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 219px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 862px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 800px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 138px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 76px;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 138px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 138px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 138px;
  }

  .u-section-1 .u-icon-10 {
    margin-left: 106px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  margin: 45px auto 0;
}

.u-section-2 .u-list-1 {
  width: 1000px;
  margin: 30px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-auto-rows: calc(33.33% - 6.66667px);
  min-height: 1145px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-image-1 {
  width: 347px;
  height: 264px;
  margin: 25px auto 0 -74px;
}

.u-section-2 .u-text-2 {
  margin: -207px -74px 0 181px;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 60px auto 0 512px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-image-2 {
  width: 347px;
  height: 264px;
  margin: 25px auto 0 -74px;
}

.u-section-2 .u-text-3 {
  margin: -207px -74px 0 181px;
}

.u-section-2 .u-btn-3 {
  padding: 0;
}

.u-section-2 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 60px auto 0 512px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-image-3 {
  width: 347px;
  height: 264px;
  margin: 25px auto 0 -74px;
}

.u-section-2 .u-text-4 {
  margin: -207px -74px 0 181px;
}

.u-section-2 .u-btn-5 {
  padding: 0;
}

.u-section-2 .u-btn-6 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 60px auto 0 512px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
    min-height: 375px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-rows: calc(33.33% - 6.666666666666667px);
  }

  .u-section-2 .u-image-1 {
    margin-left: -32px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 107px;
    margin-left: 488px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 456px;
  }

  .u-section-2 .u-image-2 {
    margin-left: -32px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 107px;
    margin-left: 499px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 456px;
  }

  .u-section-2 .u-image-3 {
    margin-left: -32px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 107px;
    margin-left: 537px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 456px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 371px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 236px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 379px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 236px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 408px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 236px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    margin-left: -22px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 295px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 86px;
  }

  .u-section-2 .u-image-2 {
    margin-left: -22px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 302px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 86px;
  }

  .u-section-2 .u-image-3 {
    margin-left: -74px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 52px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 188px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 12px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 193px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 12px;
  }

  .u-section-2 .u-image-3 {
    margin-left: -34px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 193px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: -1px;
  }
}